astroid==4.0.4
cfgv==3.5.0
dill==0.4.1
distlib==0.4.3
filelock==3.32.7
identify==2.6.19
iniconfig==2.3.0
isort==9.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.3
platformdirs==4.11.9
pluggy==1.6.0
pre_commit==4.6.2
Pygments==2.21.0
pylint==4.0.8
pytest==9.1.1
python-discovery==1.6.0
PyYAML==6.0.3
ruff==0.16.8
SQLAlchemy==2.0.54
tomlkit==0.15.1
typing_extensions==4.16.0
virtualenv==21.7.10
